* {margin: 0; padding: 0; box-sizing: border-box;}
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
	background: url('data/background.jpg') no-repeat center fixed; 
	background-size: cover;
}

a {
	text-decoration: none;
}

#sidebar {
	width:400px;
	background:#f00;
	position: fixed;
	top:0;
	left: 0;
	height:100%;
}

header h1 {
	font-family: 'Raleway',Verdana,sans-serif;
	padding: 50px;
	text-align: center;
}
