* {margin: 0; padding: 0; box-sizing: border-box;}
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
	background: #FFFAFA;
}

a {
	text-decoration: none;
}

#sidebar {
	width:400px;
	background:#FDF5E6;
	position: fixed;
	top:0;
	left: 0;
	height:100%;
	border-right: 2px solid #888;
}

header h1 {
	font-family: 'Raleway',Verdana,sans-serif;
	padding: 50px;
	text-align: center;
	font-size: 60px;
}
#hexagons {
	margin-left: 200px;
	white-space: nowrap;
	/*overflow: hidden;*/
	margin-top: -125px;
	margin-right: -200px;
}

#hexagons img {
	width: 400px;
	height: 400px;
	clip-path: polygon(200px 0px, 24px 96px, 24px 304px, 200px 400px, 375px 304px, 375px 96px);
	-webkit-clip-path: polygon(200px 0px, 24px 96px, 24px 304px, 200px 400px, 375px 304px, 375px 96px);
	-moz-clip-path: polygon(200px 0px, 24px 96px, 24px 304px, 200px 400px, 375px 304px, 375px 96px);
	margin-top: 24px;
	position: relative;
}
#hexagons .altrow img {
	left: 200px;
}
nav {
	margin-left: -135px;
	width: 150px;
	border-radius: 0px;
	background: #0f0;
	transition: .3s all;
}
nav a {
	display: block;
	line-height: 85px;
	padding: 10px;
	transition: .2s all;
	color: #333;
	font-family: 'Raleway',Verdana,sans-serif;
	font-size: 18px;
}
nav a:hover {
	background: rgba(0,0,0,0.2);
}

nav:hover {
	margin-left: 0px;
	border-radius: 0 10px 10px 0;
}
