* {margin: 0; padding: 0; box-sizing: border-box;}
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
	background: url('data/background.jpg') no-repeat center fixed; 
	background-size: cover;
}

a {
	text-decoration: none;
}

#sidebar {
	width:400px;
	background:#ccc;
	position: fixed;
	top:0;
	left: 0;
	height:100%;
}

header h1 {
	font-family: 'Raleway',Verdana,sans-serif;
	padding: 50px;
	text-align: center;
	font-size: 60px;
}
#hexagons {
	margin-left: 200px;
	white-space: nowrap;
	overflow: hidden;
	margin-top: -125px;
	margin-bottom: -125px;
}

#hexagons img {
	width: 400px;
	height: 400px;
	clip-path: polygon(200px 0px, 24px 96px, 24px 304px, 200px 400px, 375px 304px, 375px 96px);
	-webkit-clip-path: polygon(200px 0px, 24px 96px, 24px 304px, 200px 400px, 375px 304px, 375px 96px);
	-moz-clip-path: polygon(200px 0px, 24px 96px, 24px 304px, 200px 400px, 375px 304px, 375px 96px);
	margin-top: 24px;
	position: relative;
}
#hexagons .altrow img {
	left: 200px;
}
